/* Contenedor principal */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que cubra toda la altura de la pantalla */
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* Ajustar el body */
body {
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Contenedor de Login y Registro */
.auth-container {
  flex: 1; /* Permite que el contenido ocupe el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 2rem;
}

/* Formulario de autenticación */
.auth-form {
  width: 100%;
  max-width: 400px; /* Ancho limitado para una mejor apariencia */
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Inputs y botones */
.auth-form input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  margin-top: 1rem;
}

/* Footer Fijo en la parte inferior */
footer {
  background-color: #212529;
  color: #ffc107;
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
